<footer class="page-footer bg-light font-small pt-4">
    <div class="container-fluid text-center text-md-left">
        <div class="row">
            <div class="col-md-6 mt-md-0 mt-3">
                <h5 class="text-uppercase">About Team</h5>
                <p>Team with student members who are learning to use bs4 to create a website.</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste quos, ratione cum tenetur perferendis et pariatur. Itaque veritatis vitae, eveniet delectus minus ut consequatur dolore enim quia odit atque sequi quidem maiores consequuntur provident quis assumenda ipsam. Odit deleniti fuga adipisci, velit sequi pariatur beatae ratione maxime, aperiam ad vel.</p>
            </div>
            <hr class="clearfix w-100 d-md-none pb-3">
            <div class="col-md-3 mb-md-0 mb-3">
                <h5 class="text-uppercase">Useful Links</h5>
                <ul class="list-unstyled">
                    <li class="mb-3">
                        <a href="/">Home</a>
                    </li>
                    <li class="mb-sm-3">
                        <a href="/credit">About Us</a>
                    </li>
                    <li class="mb-sm-3">
                        <a href="#!">Help</a>
                    </li>
                    <li class="mb-sm-3">
                        {{#if isLoggedIn}}
                        <a href="/profile">Your Account</a>
                        {{else}}
                        <a href="#" data-toggle="modal" data-target="#accountErrorModal">Your Account</a>
                        <!-- Modal -->
                        <div class="modal fade" id="accountErrorModal" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content"  >
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Error</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body" id="myContent">
                                        <h2>Please Login before use this function!!!</h2>
                                    </div>
                                    <div class="modal-footer">
                                        <button id="btn-login" class="btn btn-danger ml-3" type="button" onclick="document.location.href='/login'">Login</button>
                                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{/if}}
                    </li>
                </ul>
            </div>
            <div class="col-md-3 mb-md-0 mb-3">
                <h5 class="text-uppercase">Contacts</h5>
                <ul class="list-unstyled">
                    <li><p>Address: HCM, 123 HCM Street, VN</p></li>
                    <li><p>Phone: 0123456789</p></li>
                    <li><p>Social: <a href="#">fb.com/jafteam</a></p></li>
                    <li><p>E-Mail: jafteam@gmail.com</p></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright text-center text-white py-3" style="background-color: #dc3545;">© 2020 Copyright: 
        <a href="https://mdbootstrap.com/" style="color: white; text-decoration: underline;"> MDBootstrap.com</a>
    </div>
</footer>