
  <div class="container mx-5 justify-content-end ">
    <div class="row m-0">
      <div class="col-4 ">
        <ul style=" list-style-type: none">
          <li class="my-3" style="font-size:20px;"><a href="profile">
            <i class="fa fa-users" style="color:black">My Account</i></a></li>

          <li class="active my-3" style="font-size:20px;"><a href="coupon">
            <i class="fa fa-ticket">My Coupon</i></a></li>

          <li class="my-3" style="font-size:20px;"><a href="notifications">
            <i class="fa fa-bell" style="color:black">My Notifications</i></a></li>
        </ul>
        <div class="input-group">

        </div>
      </div>

    <div class="col-8">
      <h4><small>Your Coupon</small></h4>
      <hr>
      <form>
        <div class="card-group">
            <div class="card">
              <img class="card-img-top" src="images/food/omelet-with-ham-cheese-spinach-and-tomatoes.jpg" alt="Card image cap" style="height: 20rem;">
              <div class="card-body" style="position:relative;">
                <h5 class="card-title">Ultra Combo</h5>
                <p class="card-text mb-5"> 
                  Use Promo Code: BOH232
                  Expires: Jan 03, 2021
                </p>
                <p class="card-text" style="position:absolute;bottom:20px;"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
            <div class="card">
              <img class="card-img-top" src="images/drink/summer-good-morning-drink.jpg" alt="Card image cap" style="height: 20rem;">
              <div class="card-body" style="position:relative;">
                <h5 class="card-title">Good Morning Deal</h5>
                <p class="card-text mb-5">
                    Use Promo Code: BOH232
                    Expires: Jan 03, 2021</p>
                    <p class="card-text " style="position:absolute;bottom:20px;"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
            <div class="card">
              <img class="card-img-top" src="images/food/green-salad-with-bread.jpg" alt="Card image cap" style="height: 20rem;">
              <div class="card-body" style="position:relative;">
                <h5 class="card-title">Healthy Deal</h5>
                <p class="card-text mb-5">
                    Use Promo Code: BOH232
                    Expires: Jan 03, 2021
                </p>
                <p class="card-text " style="position:absolute;bottom:20px;"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
          
      </form>
      <br><br>
    </div>
  </div>
</div>