<div class="container-fluid d-flex px-5">
    <div class="container">
        <h1 class="mx-auto mt-2"><strong style="color:#dc3545">Error: {{errTitle}}</strong></h1>
        <p class="mx-auto mt-2" style="font-size:20px"><strong>{{errMess}}</strong></p>
    </div>
    <img src="/images/logo & bg & etc/AccessDenied.png" alt="AccessDenied" class="mx-auto">
</div>