<div class="container mt-5">
    <div class="row d-flex justify-content-between align-items-center">
      <div class="col-md">SORT</div>
        <div class="col-md">
          <button type="button" class="btn btn-outline-dark mr-2 text-warning">
            Like
          </button>
          <button type="button" class="btn btn-outline-dark mr-2">
            New
          </button>
          <button type="button" class="btn btn-outline-dark mr-2">
            Best Seller
          </button>
        </div>
      </div>
    </div>
    <div class="container mt-5 d-flex flex-wrap">
      <div class="card mr-5 mb-5" style="width: 18rem">
        <img class="card-img-top" src="./images/drink/cappuccino.jpg" alt="Card image cap" />
        <div class="card-body">
          <h5 class="card-title">Giay</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <button type="button" class="btn btn-outline-danger" disabled>
              Mua kem deal soc tung loz
            </button>
          </li>
          <li class="list-group-item">
            <button type="button" class="btn btn-outline-primary" disabled>
              55.500
            </button>
            <button type="button" class="btn btn-outline-primary" disabled>
              Free shipping
            </button>
          </li>
        </ul>
        <div class="card-body">
          <a href="#" class="card-link">Mua ngay</a>
          <a href="#" class="card-link">Xem tiep</a>
        </div>
      </div>
      <div class="card mr-5 mb-5" style="width: 18rem">
        <img class="card-img-top" src="./images/drink/cappuccino.jpg" alt="Card image cap" />
        <div class="card-body">
          <h5 class="card-title">Giay</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <button type="button" class="btn btn-outline-danger" disabled>
              Mua kem deal soc tung loz
            </button>
          </li>
          <li class="list-group-item">
            <button type="button" class="btn btn-outline-primary" disabled>
              55.500
            </button>
            <button type="button" class="btn btn-outline-primary" disabled>
              Free shipping
            </button>
          </li>
        </ul>
        <div class="card-body">
          <a href="#" class="card-link">Mua ngay</a>
          <a href="#" class="card-link">Xem tiep</a>
        </div>
      </div>
      <div class="card mr-5 mb-5" style="width: 18rem">
        <img class="card-img-top" src="./images/drink/cappuccino.jpg" alt="Card image cap" />
        <div class="card-body">
          <h5 class="card-title">Giay</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <button type="button" class="btn btn-outline-danger" disabled>
              Mua kem deal soc tung loz
            </button>
          </li>
          <li class="list-group-item">
            <button type="button" class="btn btn-outline-primary" disabled>
              55.500
            </button>
            <button type="button" class="btn btn-outline-primary" disabled>
              Free shipping
            </button>
          </li>
        </ul>
        <div class="card-body">
          <a href="#" class="card-link">Mua ngay</a>
          <a href="#" class="card-link">Xem tiep</a>
        </div>
      </div>
      <div class="card mr-5 mb-5" style="width: 18rem">
        <img class="card-img-top" src="./images/drink/cappuccino.jpg" alt="Card image cap" />
        <div class="card-body">
          <h5 class="card-title">Giay</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <button type="button" class="btn btn-outline-danger" disabled>
              Mua kem deal soc tung loz
            </button>
          </li>
          <li class="list-group-item">
            <button type="button" class="btn btn-outline-primary" disabled>
              55.500
            </button>
            <button type="button" class="btn btn-outline-primary" disabled>
              Free shipping
            </button>
          </li>
        </ul>
        <div class="card-body">
          <a href="#" class="card-link">Mua ngay</a>
          <a href="#" class="card-link">Xem tiep</a>
        </div>
      </div>
      <div class="card mr-5 mb-5" style="width: 18rem">
        <img class="card-img-top" src="./images/drink/cappuccino.jpg" alt="Card image cap" />
        <div class="card-body">
          <h5 class="card-title">Giay</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <button type="button" class="btn btn-outline-danger" disabled>
              Mua kem deal soc tung loz
            </button>
          </li>
          <li class="list-group-item">
            <button type="button" class="btn btn-outline-primary" disabled>
              55.500
            </button>
            <button type="button" class="btn btn-outline-primary" disabled>
              Free shipping
            </button>
          </li>
        </ul>
        <div class="card-body">
          <a href="#" class="card-link">Mua ngay</a>
          <a href="#" class="card-link">Xem tiep</a>
        </div>
      </div>
       <div class="card mr-5 mb-5" style="width: 18rem">
        <img class="card-img-top" src="./images/drink/cappuccino.jpg" alt="Card image cap" />
        <div class="card-body">
          <h5 class="card-title">Giay</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <button type="button" class="btn btn-outline-danger" disabled>
              Mua kem deal soc tung loz
            </button>
          </li>
          <li class="list-group-item">
            <button type="button" class="btn btn-outline-primary" disabled>
              55.500
            </button>
            <button type="button" class="btn btn-outline-primary" disabled>
              Free shipping
            </button>
          </li>
        </ul>
        <div class="card-body">
          <a href="#" class="card-link">Mua ngay</a>
          <a href="#" class="card-link">Xem tiep</a>
        </div>
      </div>
    </div>