<div class="div bg-danger text-white mx-5">
        <h1 class="text-center">CUSTOM SUPPORT SERIVCES</h1>
</div>
<div class="container justify-content-between my-5">
    <div class="row" onclick="location.href='/help/help1'">
        <div class="col">
            <div class="card text-left bg-danger text-white help_account-btn">
                {{!-- <img class="card-img-top  mx-auto"style="width:200px;height:200px" src="/images/logo & bg & etc/help1.png"></img> --}}
                <div class="class-img-top text-center pr-3">
                    <i class="fa fa-user"style="font-size:100px"></i>
                </div>
                <div class="card-body">
                    <p class="card-text text-center"><strong>ACCOUNT SUPPORT</strong></p>
                </div>
            </div>

        </div>
        
        <div class="col">
            <div class="card bg-danger text-white help_order-btn">
                <div class="class-img-top text-center pr-3">
                    <i class="fa fa-shopping-cart" style="font-size:100px"></i>
                </div>
                <div class="card-body">
                    <p class="card-text text-center "><strong>ORDER SUPPORT</strong> </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card bg-danger text-white help_payment-btn">
                <div class="class-img-top text-center pr-3">
                    <i class="fa fa-credit-card" style="font-size:100px"></i>
                </div>
                <div class="card-body">
                    <p class="card-text text-center"><strong>PAYMENT SUPPORT</strong></p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card bg-danger text-white help_wt-btn">
                <div class="class-img-top text-center pr-3">
                    <i class="fa fa-paper-plane"style="font-size:100px"></i>
                </div>
                <div class="card-body">
                    <p class="card-text text-center"><strong>WRITE TICKET</strong></p>
                </div>
            </div>
        </div>
    </div>
</div>