<div class="div bg-danger text-white mx-5">
      <h1 class="text-center">CUSTOM SUPPORT SERIVCES</h1>
    </div>

    <div class="container " style="margin-top: 100px">
    <div class="row mt-5">
      <div class="col h-100 ">
        <div class="card border-0">
          <a href="#" class="card-title border-left border-warning pl-2 h1 mb-0">Buying </a>
          
            <p class="card-text m-0">
              <ul style="list-style-type: none; " class="p-2">
                <li class="mb-2">Can't buy item</li>
                <li class="mb-2">Out of order item</li>
              </ul>
            </p>
          
        </div>
      </div>
      <div class="col h-100">
        <div class="card border-0">
          <a href="#" class="card-title border-left border-warning p-2 h1 mb-0">Stash Problem</a>
          
            <p class="card-text m-0">
              <ul style="list-style-type: none; " class="p-2">
                <li class="mb-2">Can't take out item from stash</li>
                <li class="mb-2">Can't buy all </li>
              </ul>
            </p>
          
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col h-100">
        <div class="card border-0">
          <a href="#" class="card-title border-left border-warning p-2 h1 mb-0">Coupon problem</a>
          
            <p class="card-text m-0">
              <ul style="list-style-type: none; " class="p-2">
                <li class="mb-2">Can't use gift card</li>
                <li class="mb-2">Can't use coupon </li>
              </ul>
            </p>
          
        </div>
      </div>
      
    </div>
    </div>