<div class="div bg-danger text-white">
        <h1 class="text-center">CUSTOM SUPPORT SERIVCES</h1>
    </div>
    <div class="container justify-content-between mt-5 ">
        <div class="row">
            <div class="col">
                <div class="card text-left bg-danger text-white ">
                    {{!-- <img class="card-img-top  mx-auto"style="width:200px;height:200px" src="/images/logo & bg & etc/help1.png"></img> --}}
                    <div class="class-img-top text-center pr-3">
                        <i class="fa fa-user"style="font-size:100px"></i>
                    </div>
                    <div class="card-body">
                        <p class="card-text text-center"><strong>ACCOUNT SUPPORT</strong></p>
                    </div>
                </div>

            </div>
            
            <div class="col ">
                <div class="card bg-danger text-white">
                    <div class="class-img-top text-center pr-3">
                        <i class="fa fa-shopping-cart" style="font-size:100px"></i>
                    </div>
                    <div class="card-body">
                        <p class="card-text text-center "><strong>ORDER SUPPORT</strong> </p>
                    </div>
                </div>
            </div>
            <div class="col ">
                <div class="card bg-danger text-white">
                    <div class="class-img-top text-center pr-3">
                        <i class="fa fa-money-check" style="font-size:100px"></i>
                    </div>
                    <div class="card-body">
                        <p class="card-text text-center"><strong>PAYMENT SUPPORT</strong></p>
                    </div>
                </div>
            </div>
            <div class="col ">
                <div class="card bg-danger text-white">
                    <div class="class-img-top text-center pr-3">
                        <i class="fa fa-user"style="font-size:100px"></i>
                    </div>
                    <div class="card-body">
                        <p class="card-text text-center"><strong>WRITE TICKET</strong></p>
                    </div>
                </div>
            </div>
        </div>
    </div>