<div class="div bg-danger text-white mx-5">
  <h1 class="text-center">CUSTOM SUPPORT SERIVCES</h1>
</div>

<div class="container " style="margin-top: 100px">
  <div class="row mt-5">
    <div class="col h-100 ">
      <div class="card border-0">
        <a href="#" class="card-title border-left border-warning pl-2 h1 mb-0">Account Loss</a>
        
          <p class="card-text m-0">
            <ul style="list-style-type: none; " class="p-2">
              <li class="mb-2">Account was hacked</li>
              <li>Lock account to protect it</li>
            </ul>
          </p>
        
      </div>
    </div>
    <div class="col h-100">
      <div class="card border-0">
        <a href="#" class="card-title border-left border-warning p-2 h1 mb-0">Account security</a>
        
          <p class="card-text m-0">
            <ul style="list-style-type: none; " class="p-2">
              <li class="mb-2">Account security guild</li>
              <li>How to secure your account when lost your password</li>
            </ul>
          </p>
      </div>
    </div>
    <div class="col h-100">
      <div class="card border-0">
        <a href="#" class="card-title border-left border-warning p-2 h1 mb-0">Phone Number</a>
        
          <p class="card-text m-0">
            <ul style="list-style-type: none; " class="p-2">
              <li class="mb-2" >How to verify phone number</li>
              <li class="mb-2">How to change phone number</li>
              <li class="mb-2">How to update phone number</li>
            </ul>
          </p>
        
      </div>
  </div>

  <div class="row mt-5">
    <div class="col h-100 ">
      <div class="card border-0">
        <a href="#" class="card-title border-left border-warning pl-2 h1 mb-0">Notifications</a>
        
          <p class="card-text m-0">
            <ul style="list-style-type: none; " class="p-2">
              <li class="mb-2">Not recieve Notifications</li>
              <li class="mb-2">Wrong Notifications</li>
            </ul>
          </p>
        
      </div>
    </div>
    <div class="col h-100">
      <div class="card border-0">
        <a href="#" class="card-title border-left border-warning p-2 h1 mb-0">Bank linking issue</a>
        
          <p class="card-text m-0">
            <ul style="list-style-type: none; " class="p-2">
              <li class="mb-2"> Can't link account to bank</li>
            </ul>
          </p>
      </div>
    </div>
  </div> 
</div>
