<div class="page py-3">
    <div class="formbox py-1" style='height:520px'>
        <div class="button-box">
            <div id="btn"></div>
            <button type="button" class="toggle-btn" onclick="login()">Login</button>
            <button type="button" class="toggle-btn" onclick="register()">Register</button>
        </div>
        <div class="logo">
            <img src="/images/logo & bg & etc/rsz_logo.png">
        </div>
        {{#if errMessage}}
        <div class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>{{errMessage}}</strong>
        </div>
        {{else if Message}}
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>{{Message}}</strong>
        </div>
        {{/if}}
        <form id="login" action="/login" class="input-btn" method="POST">
            <input type="text" class="input-field " name="username" placeholder="Username" required>
            <input type="password" class="input-field" name="password" placeholder="Password" required>
            <input type="checkbox" class="input-box"><span>Remember Password</span>
            <button type="submit" class="sumbit-btn">LOG IN</button>
        </form>
        <form id="register" action="/register" class="input-btn" method="POST">
            <input type="email" class="input-field" name="regEmail" placeholder="Email" required>
            <input type="text" class="input-field" name="regUsername" placeholder="Username" required>
            <input type="password" class="input-field" name="regPassword" placeholder="Password" required>
            <input type="password" class="input-field" name="regConfirmPassword" placeholder="Confirmassword" required>
            <input type="checkbox" id="terms" class="input-box" onclick="enableRegister()"><span>Agree to the terms and conditions</span>
            <button type="submit" id="register-btn" class="sumbit-btn" disabled>REGISTER</button>  
        </form>
    </div>
</div>
<script>
    var x=document.getElementById("login");
    var y=document.getElementById("register");
    var z=document.getElementById("btn");
    var reg = document.getElementById("register-btn");

    function register(){
    x.style.left="-400px";
    y.style.left="50px";
    z.style.left="110px";
    }

    function login()
    {
    x.style.left="50px";
    y.style.left="-400px";
    z.style.left="0px";
    }

    function enableRegister() {
        var checkedValue = $('#terms:checked').val();
        if (checkedValue) 
            reg.removeAttribute('disabled');
        else 
            reg.setAttribute('disabled', true);
    }
</script>
