<div class="pb-5">

<div class="menu-label mb-3 p-2 d-flex">
  <h1 class="ml-2 mr-auto">Users management</h1>
</div>

<div class="container" id="add-user">
    
    <div class="container" id="switch-btn-container">
        <button class="switch-btn btn btn-danger" id="admin-user-switch-btn" onclick="href=document.location.href='/admin/manage/users/search'">Search user</button>
    </div>
    
    <div class="row">
        <div class="col-12"><h2>Add user</h2></div>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-6">
        <img src="/images/logo & bg & etc/temp_avatar.png" width="50%" height="auto" alt="" class="img-fluid img-thumbnail img-responsive">
        <div class="form-group">
          <label for=""></label>
          <input type="file" class="form-control-file" name="" id="" placeholder="" aria-describedby="fileHelpId">
        </div>
      </div>
      <div class="col-6">
        <form action="/manage/users/add" method="post">
          <div class="form-group">
            <label for="email">Email:</label>
            <input id="adminAddEmail" name="email" type="email" class="form-control validate" placeholder="email@gmail.com" required>
            <label for="username">Username:</label>
            <input id="adminAddUsername" name="username" type="text" class="form-control validate" placeholder="username" required>
            <label for="password">Password:</label>
            <input id="adminAddPassword" name="password" type="text" class="form-control validate" placeholder="password" required>
          </div>
          <div class="form-group">
            <label for="name">Name:</label>
            <input id="adminAddName" name="name" type="text" class="form-control validate" placeholder="your name">
          </div>
          <div class="form-group">
            <label for="phone">Phone:</label>
            <input id="adminAddPhone" name="phone" type="number" class="form-control validate" placeholder="12345678" required>
            <label for="address">Addresss:</label>
            <input id="adminAddAddress" name="address" type="text" class="form-control validate" placeholder="23,Quang Trung,TP.HCM" required>
            
          </div>
          <div class="form-group">
              <label for="user_type">User type: </label>
              <!--<input id="status" name="status" type="text" class="form-control validate" placeholder="In stock" required>-->
              <select class="custom-select" id="user_type">
                <option value="1">Customer</option>
                <option value="2">Staff</option>
              </select>
          </div>
        </form>
      </div>
      <div class="row col-7 mt-2">
        <div class="col-6">
          <button type="button" class="btn btn-danger text-uppercase btn-block">Upload image</button>
        </div>
        <div class="col-6">
          <button type="button" id="confirmAddUserBtn" class="btn btn-danger text-uppercase btn-block">Confirm</button>
        </div>
      </div>
    </div>
</div>
</div>