<div id="menu" class="container-fluid p-5">
    <div class="menu-label mb-3 p-2 d-flex">
      <h1 class="ml-2 mr-auto">{{name}}</h1>
      <button class="btn menu-label__btn btn-warning mr-2"  id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Sort"><i class="fa fa-sort-amount-desc" aria-hidden="true"></i></button>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
        <button class="dropdown-item dropdown-item-warning" onclick="selectParams('order', 3)"><i class="fa fa-money mr-2" aria-hidden="true"></i>Price</button>
        <button class="dropdown-item dropdown-item-warning" onclick="selectParams('order', 1)"><i class="fa fa-heart mr-2"></i>Like</button>
        <button class="dropdown-item dropdown-item-warning" onclick="selectParams('order', 0)"><i class="fa fa-sort-alpha-asc mr-2" aria-hidden="true"></i>Name</button>
        <button class="dropdown-item dropdown-item-warning" onclick="selectParams('order', 2)"><i class="fa fa-clock-o mr-2" aria-hidden="true"></i>Recently</button>
      </div>
    </div>
    {{#if isEmpty}}
    <p><b style="font-size: 3rem;">Oops!! No product found!!</b></p>
    {{else}}
      {{#each rows}}
        <div class="row card-group">
          {{#if (isAdmin userAuthorization)}}
          {{#each this}}
          {{> product-card product=this userAuthor=1}}
          {{/each}}
          {{else if (isCommon userAuthorization)}}
          {{#each this}}
          {{> product-card product=this userAuthor=0}}
          {{/each}}
          {{else}}
          {{#each this}}
          {{> product-card product=this userAuthor=-1}}
          {{/each}}
          {{/if}}
        </div>
      {{/each}}
    {{/if}}
</div>
