
  <div class="container mx-5 justify-content-end ">
    <div class="row m-0">
      <div class="col-4 ">
        <ul style=" list-style-type: none">
          <li class="my-3" style="font-size:20px;"><a href="/profile">
            <i class="fa fa-users"  style="color:black">My Account</i></a></li>

          <li class="my-3" style="font-size:20px;"><a href="/coupon">
            <i class="fa fa-ticket" style="color:black">My Coupon</i></a></li>

          <li class="active my-3" style="font-size:20px;"><a href="/notifications">
            <i class="fa fa-bell">My Notifications</i></a></li>
        </ul>
        <div class="input-group">

        </div>
      </div>
</div>