<div class="container-fluid p-5">
    <div id="content" class="row">
        <div class="col-5">
            <img src="../images/drink/cappuccino.jpg" class="img-fluid img-thumbnail" alt="">
        </div>
        <div class="col-7 product-info d-flex flex-column justify-content-between">
            <h1 class="h1">Cappuccino</h1>
            <h2><i class="fa fa-heart mr-2" style="color: palevioletred;"></i><span>100</span></h2>
            <div class="container-fluid m-bg-white product-infor_prices">
                <span class="product-infor_prices-real">$4</span>
                <del class="product-infor_prices-org">$5</del>
                <span class="product-infor_prices-discount">-20%</span>
            </div>
            
            <div class="container-fluid size-checkbox">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                    <label class="form-check-label" for="inlineRadio1">S</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                    <label class="form-check-label" for="inlineRadio2">M</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
                    <label class="form-check-label" for="inlineRadio3">L</label>
                </div>
            </div>

            <div class="container-fluid addr-info">
                <span class="mesg">Ship to: </span>
                <span class="addr-info_addr">NVC, Q5, TP.HCM, VN, Earth</span>
                <span class="addr-info_change">Change</span>
            </div>

            <div class="container-fluid add-cart">
                <p>Quantity:</p>
                <div class="item_qty input-group">
                    <div class="input-group-prepend">
                        <button class="btn btn-outline-secondary btn-secondary text-white" type="button"><i class="fa fa-minus"></i></button>
                    </div>
                    <input type="number" class="form-control text-center col-1" value="1">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary btn-secondary text-white" type="button"><i class="fa fa-plus"></i></button>
                    </div>
                </div>
            </div>
            <button class="btn btn-order">Add to cart</button>
        </div>
    </div>
</div>
