    <div class="container mx-5 my-2 justify-content-end ">
      <div class="row m-0">
        <div class="col-4 ">
          <ul style=" list-style-type: none">
            <li class="active my-3" style="font-size:20px;"><a href="/profile">
            <i class="fa fa-users">My Account</i></a></li>
            <li class="my-3" style="font-size:20px;"><a href="/coupon">
            <i class="fa fa-ticket" style="color:black">My Coupon</i></a></li>
            <li class="my-3" style="font-size:20px;"><a href="/notifications">
            <i class="fa fa-bell" style="color:black">My Notifications</i></a></li>
          </ul>
        </div>

      <div class="col-8" style="border: 1px solid white">
        <h4><small>Your Information</small></h4>
        <hr>
        <form >
          <div class="form-group">
            <label for="exampleFormControlInput1">Full Name</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" value="Facilis Obcaecati">
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">Email address</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" value="adipisicingElit@ipsum .com">
          </div>
          <div class="form-group">
            <label for="exampleFormControlSelect1">Gender: </label>
            <div class="form-check form-check-inline">
              <input class="form-check-input mx-2" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="m">
              <label class="form-check-label" for="inlineRadio1">Male</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="f" checked>
              <label class="form-check-label" for="inlineRadio2">Female</label>
          </div>
          <div class="form-group">
            <label for="exampleFormControlSelect2">Phone Number</label>
            <input type="number" class="form-control" value="0123456789" >
          </div>
          <button type="button" class="btn btn-warning btn-lg">Update</button>      
          </div>
        </form>
        <br><br>
      </div>
    </div>
    </div>