    /* * {
        border: solid black;
    } */

.search-bar {
    display: flex;
    align-items: center;
    border-radius: 5px;
    background-color: #dc3545;
    color: #fff;
    padding: 1px;
    height: 41px;
    min-width: 200px;
}

.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
    background-color: #dc3545;
    color: #fff;
    border-radius: 5px;
}

.dropdown-item:hover {
    background-color: #dc3545;
    color: #fff;
    border-radius: 5px;
}

.fa-search {
    color: aliceblue;
    width: 100%;
}

.btn-search, .btn-order {
    color: aliceblue;
    background-color:   #dc3545;
}

.btn-search:hover, .btn-order:hover {
    color: aliceblue;
    opacity: 0.7;
}

.search-bar-item {
    border: none;
    outline: none;
    padding: 4px auto;
    border-radius: 4px;
}

.search-bar-item:hover, .search-bar-item:active, .search-bar-item:focus, .search-bar-item:active {
    border: none;
    outline: none;
    box-shadow: none;
}

.footer-copyright > a:link {
    color: #fff;
}

/* .container-fluid {
    border: 1px solid black;
} */


@media (min-width: 0) {
    .g-mb-30 {
        margin-bottom: 2.14286rem !important;
    }
}

/* @media (min-width: 0) {
    .g-py-40 {
        padding-top: 2.85714rem !important;
        padding-bottom: 2.85714rem !important;
    }
}

@media (min-width: 0) {
    .g-px-20 {
        padding-left: 1.42857rem !important;
        padding-right: 1.42857rem !important;
    }
} */
@media (min-width: 0){
    .g-mb-5 {
        margin-bottom: 0.35714rem !important;
    }
}

.g-bg-white {
    background-color: #fff !important;
}

.u-shadow-v18 {
    box-shadow: 0 5px 10px -6px rgba(0, 0, 0, 0.15);
}

.g-color-primary {
    color: #72c02c !important;
}

.g-font-size-16 {
    font-size: 1.14286rem !important;
}



.g-color-black {
    color: #000 !important;
}

.g-font-weight-600 {
    font-weight: 600 !important;
}

.row {
    margin-bottom: 15px;
}

p {
    text-overflow: ellipsis;
}

.btn-order {
    border-radius:20px;
    height: 50px;
    width: 150px;
    font-weight: bold;
    font-size: 20px;
    text-overflow: ellipsis;
}

.menu-label {
    display: flex;
    justify-content: start;
    align-items: center;
    font-weight: bold;
    font-size: 50px;
    color: #fff;
    background-color: #dc3545;
    border-radius: 10px;
    box-shadow: 0 5px 10px -6px rgba(0, 0, 0, 0.15);
}

/* .card-group * {
    border: 1px solid black;
} */

.card-header {
    height: 350px;
}

.price {
    font-weight: bold;
    font-size: 40px !important;
}

.img-profile {
    min-width: 150px;
    width: 100%;
}

.btn-seemore {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 300px;
    font-size: 50px;
    border-radius: 20px;
    font-weight: bold;
}

.navbar-brand {
    cursor: pointer;
}

.fa-user {
    font-size: 30px;
    color: white;
    background-color: #dc3545;
    width: 40px;
    border-radius: 5px;
}

.btn-user {
    display: flex;
    justify-content: center;
    align-items: center;   
}

.caret-off::before {
    display: none;
}

.caret-off::after {
    display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
 margin: 0;
}
.active i
{
  color:red;
}

.product-infor_prices {
    background-color:whitesmoke;
}

.product-infor_prices-real {
    font-size: 40px;
    font-weight: bold;
    margin-right: 5px;
}

.addr-info_addr {
    text-decoration: underline;
    font-size: 18px;
    font-weight: bold;
}

.addr-info_change {
    color: rgb(61, 96, 137);
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
}

.addr-info_change:hover {
    text-decoration: underline;
}

/* .add-cart {
    border: 1px solid black;
} */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.btn-order {
    max-height: 70px;
    max-width: 200px;
}

#content {
    min-height: 500px;
}

.dropdown-left {
    right: 0;
    left: auto;
    padding-left: 1px;
    padding-right: 1px;
}

.product-img_container {
    position: relative;
    width: 100%;
}

.text-block {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 20px;
    left: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
}

.heart-ico {
    cursor: pointer;
    z-index: 1;
}

.heart-ico:hover {
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -ms-transition: all 2s ease;
    transition: all 2s ease;
    font-size: 50px;
}

.heart-ico:active {
    font-size: 50px;
    color: #dc3545;
}

.product-img_container:hover img {
    opacity: 0.3;
}
  
.product-img_container:hover .middle {
    opacity: 1;
}

.product-img-sm {
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}

.sm-img {
    min-width: 250px;
    max-width: 300px;
    width: 100%;
    height: 90%;
    cursor: pointer;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.view-detail-btn {
    background-color: rgba(247, 28, 28, 0.8);
}

.btn-like {
    background-color:  palevioletred;
}

.btn-like:hover {
    opacity: 0.9;
}

.cmt-avatar {
    max-height: 200px;
}

.cmt-rating {
    position: absolute;
    bottom: 5px;
    left: 0px;
}

.cmt-rating_like, .cmt-rating_dislike {
    cursor: pointer;
    margin-left: 20px;
    font-size: 16px;
    color: rgb(69, 93, 204);
}

.cmt-rating_like:hover, .cmt-rating_dislike:hover {
    cursor: pointer;
    margin-left: 20px;
    font-size: 16px;
    color: rgb(69, 93, 204);
    opacity: 0.7;
    text-decoration: underline;
}

#categories .list-group-item.active,
#categories .list-group-item:hover {
    background-color: #dc3545;
    color: #fff;
    border-radius: 5px;
    border: none;
}

#categories .list-group-item {
    background-color: #fff;
    outline: 0;
}

.switch-btn {
    margin-bottom: 3vh;
}

.help_account-btn, .help_wt-btn, .help_payment-btn, .help_order-btn {
    padding: 10px;
    cursor: pointer;
}

.help_account-btn:hover, .help_wt-btn:hover, .help_payment-btn:hover, .help_order-btn:hover {
    opacity: 0.7;
}
